.section--background-color {
    background-color: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    }
}

.section__tittle {
    font-weight: 700;
    color: var(--primary-text-color);
    line-height: 1.17;
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
}
}

.user {
@media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.user__item {
@media screen and (max-width: 767.98px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    background-color: var(--primary-bg-color);

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 4px 4px 0px #00000040;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 30px * (4 - 1)) / 4);
    }
}


.user__person-description {
    padding: 30px 32px;
}

.user__tittle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.user__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondory-text-color);
    margin-top: 10px;
}

.social__item {
    cursor: pointer;

        &+& {
            margin-left: 10px;
        }
         &:last-child {
              margin-right: 0px;
        }
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}


.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
}

.social__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social__link:hover & {
          fill: var(--primary-bg-color);
        }

     .social__link:focus & {
          fill: var(--primary-bg-color);
        }
}

